<%= simple_form_for @quiz, remote: (params[:action] == 'new' ? true : false), authenticity_token: true, html: { id: 'quiz_form' } do |f| %>
		
	<%= f.input :level, input_html: { min: 1, max: 10 } %>
		
	<!-- parte del form per l'aggiunta degli animali -->
	
	<div id="quiz_rows">
	  <fieldset>
		<legend>Seleziona gli animali</legend>
		
		<%= f.simple_fields_for :quiz_rows do |quizRow| %>
			<%= quizRow.association :animal, collection: @animals, include_blank: "Seleziona un animale" %>
		<% end %>			  	  
	  </fieldset>
	</div>
	
	<%= f.button :submit %>
	<%= f.button :button, "Reset", name: "reset", id: "quizform_reset_button", type: "reset" %>
<% end %>
