<% content_for :javascript do %>
  <%= javascript_include_tag "animal" %>
  <%= javascript_include_tag "main" %>
  <%= javascript_include_tag "quiz" %>
<% end %>

<div id="quiz_form_container">

	<h2> Modifica Quiz </h2>

	<%= render 'form' %>

	<%= link_to "Annulla", quizzes_path, id: 'cancel_button', class: 'btn btn-success' %>
</div>
