<h1>IndovinaZOO 1.0</h1>

<script>
  document.addEventListener("DOMContentLoaded", function()
  {
    if("indexedDB" in window) 
    {
        var div = document.getElementById("mostra_gioco");
        div.style.display = "inline";
    } else 
    {
        var div = document.getElementById("cambio_browser");
        div.style.display = "inline";
    }
  },false);

</script>

<div id="mostra_gioco" >
  <%= button_to "Prima imposta le preferenze...", settings_path, style: "display:none" %>
  <%= form_tag("/quiz/1", method: "post") do %>
      <%= hidden_field_tag "numeroquiz", "10" %>
      <%= hidden_field_tag "timeout", "60" %>
      <%= hidden_field_tag "livelloquiz", "0" %>
      <%= submit_tag "Gioca adesso!", style: "display:none" %>
  <% end %>
</div>

<div id="cambio_browser" style="display:none" >
  Ci dispiace, ma il browser corrente non è adatto all'esecuzione di IndovinaZOO, noi ti consigliamo Chromium, Google Chrome o Mozilla Firefox.<br/>
  Nota: per la versione Linux di Mozilla Firefox bisogna installare gstreamer0.10-plugins-ugly (controllare il nome del pacchetto per la propria distribuzione)<br/>
</div>

<%= link_to "Guarda gli animali!", animals_path %>
