<h1>IndovinaZOO 1.0</h1>

<%= render :partial => "home.js.erb" %>

<div class="row text-center">
  <img id="immagine_indovinazoo" src="/uploads/indovinazoo_home.png" class="img-responsive" onclick="submitForm()"/>
	<div id="mostra_gioco" style="display:none" >
		<%= form_tag("/quiz/1", id: "form_gioca", name: "gioca", method: "post") do %>
		    <%= hidden_field_tag "numeroquiz", "10" %>
		    <%= hidden_field_tag "timeout", "5" %>
		    <%= hidden_field_tag "livelloquiz", "0" %>
		    <%= hidden_field_tag "standard", "sì" %>
		<% end %>
	</div>
  <div class="btn-group">
    <%= button_to "Prima imposta le preferenze...", settings_path, class: "btn btn-success" %>
	  <%= button_to "Guarda gli animali!", animals_path, class: "btn btn-success" %>
	</div>

	<div id="cambio_browser" style="display:none" >
		Ci dispiace, ma il browser corrente non è adatto all'esecuzione di IndovinaZOO, noi ti consigliamo Chromium, Google Chrome o Mozilla Firefox.<br/>
		Nota: per la versione Linux di Mozilla Firefox bisogna installare gstreamer0.10-plugins-ugly (controllare il nome del pacchetto per la propria distribuzione)<br/>
	</div>
</div>
