<h1>Game#quiz</h1>
<p>Find me in app/views/game/quiz.html.erb</p>
<script>
  var to = <%= params[:timeout].to_i %>;
  var id = <%= params[:id] %>;
  var nq = <%= params[:numeroquiz] %>;
  var risposta_corretta;
  var timerID;
  
  document.addEventListener("DOMContentLoaded", function()
  {
    var deleterequest = indexedDB.deleteDatabase("game");
    console.log("db cancellato");
    
    deleterequest.onsuccess = function(e)
    {
      var openrequest = indexedDB.open("game",id);
      console.log("db aperto.");
      
      
      openrequest.onupgradeneeded = function(ev)
      {
        console.log("entrato onupgradeneeded");
        if (id == 1)
        {
          var db = ev.target.result;
          var store = db.createObjectStore("quizzes", {keyPath: "number"});
          <% params[:numeroquiz].to_i.times do |id| %>
          store.put({number: <%= id+1 %>, animal1: "<%= @quiz_arr[id].animals[0].image %>", animal2: "<%= @quiz_arr[id].animals[1].image %>", solution: "<%= @animali_arr[id] %>", user_response: "", score: ""});
          <% end %>
        } else
        {
          var db = eve.target.result;
          var tx = db.transaction(["quizzes"],"readonly");
          var store = tx.objectStore("quizzes");
          var getrequest = store.get(id);
          
          getrequest.onsuccess = function (e)
          {
            var risultati = e.target.result;
            risposta_corretta = risultati.solution;
          }
          db.close();
        }
        console.log("uscito onupgradeneeded");
      }
      
      openrequest.onsuccess = function(eve)
      {
        console.log("entrato on success");
        if (id == 1)
        {
          var db = eve.target.result;
          var tx = db.transaction(["quizzes"],"readonly");
          var store = tx.objectStore("quizzes");
          var getrequest = store.get(id);
          
          getrequest.onsuccess = function (e)
          {
            var risultati = e.target.result;
            risposta_corretta = risultati.solution;
          }
          db.close();
        } else
        {
          var db = eve.target.result;
          db.close();
        }
        console.log("uscito onsuccess");
      }
      
      openrequest.onerror = function(even)
      {
        console.log("entrato onerror");
        console.log(openrequest.errorCode);
      }
    }
     
    deleterequest.onerror = function(event)
    {
      console.log("entrato onerror delete");
      console.log(deleterequest.errorCode);
    }
  },false);
  
  function storeQuiz(ur,s)
  {
    var request = indexedDB.open("game",id);
    console.log("db aperto.");
    
    request.onsuccess = function(e) 
    {
      var db = e.target.result;
      if(id == 1)
      {
        console.log("entrato onsuccess.");
        var tx = db.transaction(["quizzes"],"readwrite");
        var store = tx.objectStore("quizzes");
        var getrequest = store.get(1);
        
        getrequest.onsuccess = function (ev)
        {
          var risultati = ev.target.result;
          risultati.user_response = ur;
          risultati.score = s;
          var putresult = store.put(risultati);
        }
      }
      db.close();
    }
    
    request.onupgradeneeded = function(e)
    {
      console.log("entrato onupgradeneeded.");
      var db = e.target.result;
      var tx = db.transaction(["quizzes"],"readwrite");
      var store = tx.objectStore("quizzes");
      var getrequest = store.get(id);
      
      getrequest.onsuccess = function (ev)
      {
        var risultati = ev.target.result;
        risultati.user_response = ur;
        risultati.score = s;
        var putresult = store.put(risultati);
      }
      db.close();
    }
    
    request.onerror = function (e)
    {
      console.log("entrato onerror.");
      console.log(request.errorCode);
    }
  }
  
  function update()
  {
    to = to - 1;
    if (to != 0)
      document.getElementById("risultato").innerHTML = to;
    else
      timeout();
  }
  
  function inizia()
  {
    var audio = document.getElementById("verso");
    audio.play();
    timerID = setInterval("update()", 1000);
  }
  
  function scelta(animale)
  {
    clearInterval(timerID);
    var audioe = document.getElementById("inizia");
    audioe.pause();
    
    if (animale == risposta_corretta)
    {
      var punteggio = Math.ceil(10 - (to/<%= params[:timeout].to_i %>)*10);
      document.getElementById("risultato").innerHTML = "Risposta esatta! Il tuo punteggio è " + punteggio + ".";
    } else
    {
      var punteggio = 0;
      document.getElementById("risultato").innerHTML = "No! La risposta esatta era " + risposta_corretta + "! Il tuo punteggio è 0.";
    }
    storeQuiz(animale,punteggio);
    quizdopo();
  }
  
  function timeout()
  {
    document.getElementById("risultato").innerHTML = "No! La risposta esatta era " + risposta_corretta + "! Il tuo punteggio è 0.";
    storeQuiz("",0);
    quizdopo();
  }
  
  function quizdopo()
  {
    if (id == nq)
      var form = document.getElementById("prossimoquiz");
    else
      var form = document.getElementById("finequiz");
    
    form.parentNode.removeChild(form);
  }
</script>

<button type="button" id="inizia" name="inizia" onclick="inizia()" >Inizia il Quiz!</button>

<%= audio_tag @verso, preload: "auto", id: "verso" %>

<%= image_tag @animale1.image, title: @animale1.name, onclick: "scelta(#{@animale1.name})" %>
<%= image_tag @animale2.image, title: @animale2.name, onclick: "scelta(#{@animale2.name})" %>

<div id="risultato" ><%= params[:timeout].to_i %></div>

<p>Quiz <%= params[:id] %></p>

<%= form_tag("/quiz/"+(params[:id].to_i+1).to_s, name: "prossimoquiz", method: "post") do %>
  <%= hidden_field_tag "numeroquiz", params[:numeroquiz] %>
  <%= hidden_field_tag "timeout", params[:timeout] %>
  <%= hidden_field_tag "iniziato", "sì" %>
  <%= hidden_field_tag "quiz", "" %>
  <%= hidden_field_tag "animale", "" %>
  <%= submit_tag "Prossimo Quiz", style: "display:none"  %>
<% end %>

<%= form_tag("/result", name: "finequiz", method: "post") do %>
  <%= hidden_field_tag "numeroquiz", params[:numeroquiz] %>
  <%= hidden_field_tag "timeout", params[:timeout] %>
  <%= submit_tag "Guarda il resoconto!", style: "display:none" %>
<% end %>