<h1>Game#quiz</h1>
<p>Find me in app/views/game/quiz.html.erb</p>
<script>
  var to = <%= params[:timeout].to_i %>;
  var id = <%= params[:id] %>;
  var nq = <%= params[:numeroquiz] %>;
  var risposta_corretta;
  var livello;
  var animale1;
  var animale2;
  var verso;
  var animale1name;
  var animale2name;
  var timerID;
  var timeriniziato = 0;
  
  $(document).ready ( function ()
  {
    if (id == 1)
    {
      var deleterequest = indexedDB.deleteDatabase("game");
	  console.log("db cancellato");
	  
	  deleterequest.onsuccess = function(e)
	  {
		var openrequest = indexedDB.open("game",id);
		console.log("db aperto.");
		
		openrequest.onupgradeneeded = function(ev)
		{
		  console.log("entrato onupgradeneeded");
		  var db = ev.target.result;
		  var store = db.createObjectStore("quizzes", {keyPath: "number"});
		  <% params[:numeroquiz].to_i.times do |id| %>
			<% if params[:id].to_i == 1 %>
		  store.put({number: <%= id+1 %>, quiz_id: <%= @quiz_arr[id].id %>, level: <%= @quiz_arr[id].level %> ,animal1: "<%= @quiz_arr[id].animals[0].image %>", animal2: "<%= @quiz_arr[id].animals[1].image %>", solution: "<%= @animali_arr[id] %>", user_response: "", score: ""});
			<% end %>
		  <% end %>
		  <% if params[:id].to_i == 1 %>
		  risposta_corretta = getAnimalName("<%= @animali_arr[0] %>");
		  livello = "<%= @quiz_arr[0].level %>";
		  animale1 = "<%= @quiz_arr[0].animals[0].image %>";
		  animale2 = "<%= @quiz_arr[0].animals[1].image %>";
		  verso = "<%= @animali_arr[0] %>";
		  animale1name = getAnimalName(animale1);
		  animale2name = getAnimalName(animale2);
		  createQuizObjects();
		  <% end %>
		  console.log("uscito onupgradeneeded");
		}
		
		openrequest.onsuccess = function(eve)
		{
		  console.log("entrato on success");
		  var db = eve.target.result;
		  db.close();
		  console.log("uscito onsuccess");
		}
		
		openrequest.onerror = function(even)
		{
		  console.log("entrato onerror");
		  console.log(openrequest.errorCode);
		}
	  }
	  
	  deleterequest.onerror = function(event)
	  {
		console.log("entrato onerror delete");
		console.log(deleterequest.errorCode);
	  }
	} else
	{
	  var openrequest = indexedDB.open("game");
	  console.log("db aperto");
	  
	  openrequest.onsuccess = function(e)
	  {
		console.log("entrato on success");
		var db = e.target.result;
		var tx = db.transaction(["quizzes"],"readonly");
		var store = tx.objectStore("quizzes");
		var getrequest = store.get(id);
		
		getrequest.onsuccess = function(ev)
		{
		  var risultati = getrequest.result;
		  risposta_corretta = getAnimalName(risultati.solution);
		  livello = risultati.level;
		  animale1 = risultati.animal1;
		  animale2 = risultati.animal2;
		  verso = risultati.solution;
		  animale1name = getAnimalName(animale1);
		  animale2name = getAnimalName(animale2);
		  db.close();
		  createQuizObjects();
		  console.log("uscito onsuccess");
		}
		
		getrequest.onerror = function(event)
		{
		  console.log("entrato onerror get");
		  console.log(getrequest.errorCode);
		}
	  }
	}
  });
  
  function getAnimalName(fullPath) 
  {
    filename = fullPath.replace(/^.*[\\\/]/, '');
    name = filename.split(".")[0];
    return name.charAt(0).toUpperCase() + name.slice(1);
  }
  
  function audio_el(v)
  {
    var audio = document.createElement('audio');
    audio.id = "verso";
    audio.preload = "auto";
    audio.src = v;
    return audio;
  }
  
  function image_el(a)
  {
    var img = document.createElement('img');
    var temp;
	img.src = a;
	temp = getAnimalName(a);
	img.alt = temp;
	img.title = temp
	var att = document.createAttribute("onclick");
	att.value = "scelta('"+ temp + "')";
	img.setAttributeNode(att);
	return img;
  }
  
  function createQuizObjects()
  {
    var div = document.getElementById("elementiquiz");
    div.appendChild(audio_el(verso));
    div.appendChild(image_el(animale1));
    div.appendChild(image_el(animale2));
  }
  
  function storeQuiz(ur,s)
  {
    var request = indexedDB.open("game");
    console.log("db aperto.");
    
    request.onsuccess = function(e) 
    {
	  console.log("entrato onsuccess.");
	  var db = e.target.result;
	  var tx = db.transaction(["quizzes"],"readwrite");
	  var store = tx.objectStore("quizzes");
	  var getrequest = store.get(id);
	  
	  getrequest.onsuccess = function (ev)
	  {
		var risultati = ev.target.result;
		risultati.user_response = ur;
		risultati.score = s;
		var putresult = store.put(risultati);
		db.close();
		quizdopo();
	  }
    }
    
    request.onerror = function (e)
    {
      console.log("entrato onerror.");
      console.log(request.errorCode);
    }
  }
  
  function update()
  {
    to = to - 1;
    if (to != 0)
      document.getElementById("risultato").innerHTML = to;
    else
      timeout();
  }
  
  function inizia()
  {
    if (timeriniziato == 0)
    {
      timeriniziato = 1;
      var audio = document.getElementById("verso");
      audio.play();
      timerID = setInterval("update()", 1000);
    }
  }
  
  function scelta(animale)
  {
    if (timeriniziato == 1)
    {
      timeriniziato = 2;
      clearInterval(timerID);
      var audioe = document.getElementById("verso");
      audioe.pause();
      
      if (animale == risposta_corretta)
      {
        var valore = document.getElementById("risultato").innerHTML;
        var modificatore = livello/2+0.5; 
        var punteggio = Math.ceil((to/<%= params[:timeout].to_i %>)*10);
        punteggio *= modificatore;
        document.getElementById("risultato").innerHTML = "Risposta esatta! Il tuo punteggio è " + punteggio + ".";
      } else
      {
        var punteggio = 0;
        document.getElementById("risultato").innerHTML = "No! La risposta esatta era " + risposta_corretta + "! Il tuo punteggio è 0.";
      }
      storeQuiz(animale,punteggio);
    }
  }
  
  function timeout()
  {
    clearInterval(timerID);
    document.getElementById("risultato").innerHTML = "No! La risposta esatta era " + risposta_corretta + "! Il tuo punteggio è 0.";
    storeQuiz("",0);
  }
  
  function quizdopo()
  {
    var tag;
    if ((id == nq) || (nq == 1)) {
      tag = document.getElementById("finequiztag");
	  tag.style.display = "inline";
    }
    else
    {
      tag = document.getElementById("prossimoquiztag");
	  tag.style.display = "inline";
    }
  }
</script>

<button type="button" id="inizia" name="inizia" onclick="inizia()" >Inizia il Quiz!</button>

<div id="elementiquiz"></div>

<div id="risultato" ><%= params[:timeout].to_i %></div>

<p>Quiz <%= params[:id] %></p>

<%= form_tag("/quiz/"+(params[:id].to_i+1).to_s, name: "prossimoquiz", method: "post") do %>
  <%= hidden_field_tag "numeroquiz", params[:numeroquiz] %>
  <%= hidden_field_tag "timeout", params[:timeout] %>
  <%= hidden_field_tag "iniziato", "sì" %>
  <%= submit_tag "Prossimo Quiz", style: "display:none", id: "prossimoquiztag" %>
<% end %>

<%= form_tag("/result", name: "finequiz", method: "post") do %>
  <%= hidden_field_tag "numeroquiz", params[:numeroquiz] %>
  <%= hidden_field_tag "timeout", params[:timeout] %>
  <%= submit_tag "Guarda il resoconto!", style: "display:none", id: "finequiztag" %>
<% end %>
