<h1>Game#quiz</h1>
<p>Find me in app/views/game/quiz.html.erb</p>
<script>
  var to = <%= params[:timeout].to_i %>;
  var id = <%= params[:id] %>;
  var nq = <%= params[:numeroquiz] %>;
  var inizio;
  var fine;
  
  document.addEventListener("DOMContentLoaded", function()
  {
    if (id == 1)
    {
      var deleterequest = indexedDB.deleteDatabase("game");
      console.log("db cancellato");
      
      deleterequest.onsuccess = function(e)
      {
        var openrequest = indexedDB.open("game",id);
        console.log("db aperto.");
        
        openrequest.onupgradeneeded = function(ev)
        {
          var store = db.createObjectStore("quizzes", {keyPath: "number", autoIncrement: true});
          <% params[:numeroquiz].to_i.times do |id| %>
          store.put({quiz_id: "<%= @quiz_id_arr[id] %>", animal1: "", animal2: "", solution: "<%= @animali_arr[id] %>", user_response: "", score: ""});
          <% end %>
        }
      }
    }
  },false);
  
  function storeQuiz(i,qid,a1,a2,sl,ur,s)
  {
    var request = indexedDB.open("game",id);
    console.log("db aperto.");
    
    request.onupgradeneeded = function(e) 
    {
      var db = request.result;
      var tx = db.transaction("game","readwrite");
      var store = tx.objectStore("quizzes");
      store.put({number: i, animal1: a1, animal2: a2, solution: sl, user_response: ur, score: s});
    }
  }
  
  function inizia()
  {
    //riproduci il verso
    timerID = setTimeout("timeout()", to*1000);
    inizio = Date.now();
  }
  
  function scelta(animale)
  {
    clearTimeout(timerID);
    fine = Date.now();
    var tempo_trascorso = (fine - inizio)/1000;
    // se la risposta è giusta stampalo, altrimenti stampa anche la risposta esatta
    // aggiungi risposta nell'array
    var punteggio = Math.ceil(10 - (tempo_trascorso/to)*10);
    
    quizdopo()
  }
  
  function timeout
  {
    clearTimeout(timerID);
    //inserire valore 0 per la risposta
    //stampa errore con risposta esatta
    quizdopo();
  }
  
  function quizdopo
  {
    if (id == nq)
      var form = document.getElementById("prossimoquiz");
    else
      var form = document.getElementById("finequiz");
    
    form.parentNode.removeChild(form);
  }
</script>

<button type="button" id="inizia" name="inizia" onclick="inizia()" >Inizia il Quiz!</button>

<%= audio_tag @verso, preload: "auto", id: "verso" %>

<%= image_tag @animale1.image, alt: @animale1.name %>
<%= image_tag @animale2.image, alt: @animale2.name %>

<p>Quiz <%= params[:id] %></p>

<%= form_tag("/quiz/"+(params[:id].to_i+1).to_s, name: "prossimoquiz", method: "post") do %>
  <%= hidden_field_tag "numeroquiz", params[:numeroquiz] %>
  <%= hidden_field_tag "timeout", params[:timeout] %>
  <%= hidden_field_tag "iniziato", "sì" %>
  <%= hidden_field_tag "quiz", "" %>
  <%= hidden_field_tag "animale", "" %>
<% end %>

<%= form_tag("/result", name: "finequiz", method: "post") do %>
  <%= hidden_field_tag "numeroquiz", params[:numeroquiz] %>
<% end %>