<h1>Game#result</h1>
<p>Find me in app/views/game/result.html.erb</p>
<script>
  var quizzes = [];


  //Apro una connessione a indexedDB e carico nell'array quizzes tutti i quiz della partita
  document.addEventListener("DOMContentLoaded", function()
  {
    var openrequest = indexedDB.open("game");
    console.log("db aperto");

    openrequest.onsuccess = function(event) 
    {
      console.log("entrato onsuccess");
      var db = event.target.result;
      var objectStore = db.transaction("quizzes").objectStore("quizzes");

      quizzes = [];

      var cursorRequest = objectStore.openCursor();
      cursorRequest.onsuccess = function(event) {
        console.log("entrato onsuccess");
        var cursor = event.target.result;
        if (cursor) {
          console.log("DEBUG: popolazione quizzes");
          quizzes.push(cursor.value);
          cursor.continue();
        }
        else {
          console.log("scaricati tutti i quiz");
          insertQuizzesToHTML();
          db.close();
          console.log("chiuso DB");
          console.log("uscito onsuccess");
        }
      }
    }
  }
	, false);

  //inserisce sul sommario dei risultati le immagini degli animali e il punteggio in appositi tag 
  function quizResult_create(animal1, animal2, score) 
  {
    var quizContainer = document.getElementById('result_summary');
//eventualmente aggiungere altri attributi tipo class
    quizContainer.appendChild(img_create(animal1));
    quizContainer.appendChild(img_create(animal2));
    quizContainer.appendChild(p_create(score));
  }

  //crea un tag p con all'interno il testo passato come parametro
  function p_create(text) 
  {
    var p = document.createElement('p');
    p.innerHTML = text;
    return p;
  }

  //crea un tag img con gli attributi alt e title
	function img_create(src) 
  {
		  var img = document.createElement('img');
		  img.src = src;
		  img.alt = getAnimalName(src);
		  img.title = getAnimalName(src);
		  return img;
	}

  //ritorna il nome dell'animale dal path passato come parametro
  function getAnimalName (fullPath) 
  {
    filename = fullPath.replace(/^.*[\\\/]/, '');
    name = filename.split(".")[0];
    return name;
  }

  //inserisce tutti i quiz presenti in quizzes
  function insertQuizzesToHTML() {
    document.createElement("div"); //External container
    for (i=0; i<quizzes.length; i++) {
      quizResult_create(quizzes[i].animal1, quizzes[i].animal2, quizzes[i].score);
    }
    totalScore();
  }

  //calcola il punteggio totale e lo inserisce nel div "change_total_score"
  function totalScore(){
		var res = 0;
    for (i=0; i<quizzes.length; i++) {
      res += quizzes[i].score;
    }
    insertHiddenScore(res);
    insertSocialText(res);
    return document.getElementById("change_total_score").innerHTML = res;
  }

  //inserisce il valore passato come parametro nel div hidden_score
  function insertHiddenScore(score) {
    document.getElementById("hidden_score").value = score;
  }

  //mostra il form per il submit del punteggio sul db server
  function showForm() {
    document.getElementById("hidden_form").style.display = "block";
  }

  //inserisce una frase con punteggio e consiglio di condivisione del gioco nei social network
  //[funziona solo su Twitter]
  function insertSocialText(score) {
    var stringa = "Ho totalizzato "+score+" punti a IndovinaZOO. Giocaci anche tu su";
    document.getElementsByClassName("social-share-button")[0].setAttribute("data-title", stringa);
  }

</script>
<div id="result_summary">
</div>
<div id="total_score">
Punteggio Totale:
  <div id="change_total_score">
  </div>
</div>

<button type="button" onclick=showForm()>Salva in classifica</button>
<div style="display:none" id="hidden_form">
	<%= simple_form_for @rank, :url => url_for(:action => 'create', :controller => 'ranks'),
		  :method => 'post' do |f| %>
		<%= f.input :nickname %>
		<%= f.input :score, :as => :hidden, :input_html => { :id => "hidden_score" } %>
		<%= f.button :submit %>
	<% end %>
</div>
<div id="social">
  Condividi il risultato con i tuoi amici:
  <%= social_share_button_tag("", :url => "www.indovinazoo.it") %>
</div>
<%= link_to "Torna a Home", root_path %>
