<h1>Riepilogo Partita</h1>

<%= render :partial => "result.js.erb" %>

<div id="result_summary">
</div>
<div id="total_score">
Punteggio Totale:
  <span id="change_total_score">
  </span>
</div>

<div id="social">
  Condividi il risultato con i tuoi amici:
  <%= social_share_button_tag("", :url => "www.indovinazoo.it") %>
</div>

<button type="button" onclick=showForm()>Salva in classifica</button>
<div style="display:none" id="hidden_form">
	<%= simple_form_for @rank, :url => url_for(:action => 'create', :controller => 'ranks'),
		  :method => 'post' do |f| %>
		<%= f.input :nickname %>
		<%= f.input :score, :as => :hidden, :input_html => { :id => "hidden_score" } %>
		<%= f.button :submit %>
	<% end %>
</div>
<%= link_to "Torna a Home", root_path %>
