<h1>Preferenze partita</h1>
<small>nota: utilizzando le preferenze personalizzate non potrai registrare il punteggio nella classifica</small>

<%= render :partial => "settings.js.erb" %>

<%= form_tag("/quiz/1", id:"settings" , method: "post") do %>
<table border="0">
  <tr>
	<td>
	  <%= label_tag "numeroquiz", "Inserisci Il numero di quiz che desideri per questa partita." %>
	</td>
	<td>
	  <%= number_field_tag "numeroquiz", 1, min: 1 %>
	</td>
  </tr>
  <tr>
	<td>
	  <%= label_tag "timeout", "Inserisci il timeout desiderato per ogni quiz della partita." %>
	</td>
	<td>
	  <%= number_field_tag "timeout", 5, min: 1 %>
	</td>
  </tr>
  <tr>
	<td>
	  <%= label_tag "livelloquiz", "Inserisci il livello desiderato di ogni quiz. (se 0 il livello sarà casuale)" %>
	</td>
	<td>
	  <%= number_field_tag "livelloquiz", 0 , min: 0 %>
	</td>
  </tr>
</table>
<%= hidden_field_tag "standard", "no" %>
<% end %>

<button type="button" onclick="submitForm()">... Adesso Gioca!</button>
