<tr class='animal' id='animal-<%= animal.id %>'>
	<td><%= animal.name %></td>
	<td><%= image_tag animal.image_url, size: "120x100" %></td>
	<td><%= audio_tag animal.cry_url, controls: true %></td>
	<td><%= link_to "Show", animal %></td>
	<td><%= link_to "Edit", edit_animal_path(animal) %></td>
	<td><%= link_to "Delete", animal_path(animal), method: :delete, data: { confirm: "Sei sicuro?" } %></td>
</tr>
