<%= simple_form_for @animal, remote: (params[:action] == 'new' ? true : false), authenticity_token: true, html: { multipart: true, id: 'animal_form' } do |f| %>
	
	<div id="animal_error_messages"></div>
			
	<fieldset>
		<legend>Dati nuovo animale:</legend>
		<%= f.input :name %>
		<%= f.input :image, as: :file %>	
		<%= f.input :cry, as: :file %>				
	</fieldset>		
		
	<%= f.button :submit %>	
<% end %>
