<%= simple_form_for @animal, remote: (params[:action] == 'new' ? true : false), authenticity_token: true, html: { multipart: true, id: 'animal_form' } do |f| %>
	
	<div id="animal_error_messages"></div>
			
	<fieldset class="form-new-animal">
		<legend>Dati nuovo animale:</legend>
    <div class="animal-input"><%= f.input :name %></div>
    <div class="animal-input"><%= f.input :image, as: :file %></div>
		<div class="animal-input"><%= f.input :cry, as: :file %></div>		
	</fieldset>		
		
	<%= f.button :submit, class: "btn btn-success"%>

<% end %>
