<% content_for :javascript do %>
  <%= javascript_include_tag "animal" %>
  <%= javascript_include_tag "main" %>
  <%= javascript_include_tag "quiz" %>
<% end %>

<h1>Modifica Animale</h1>

<%= render "form" %>

<%= link_to "Torna a Gestione", animals_path %>
