<!DOCTYPE html>
<head>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<h1>Elenco Animali</h1>
	<div id="container">
		<ul id="griglia_immagini">
	    <% @animals.each do |animal| %>
				<li>
					<img src="<%= animal.image %>" onclick="document.getElementById('<%= animal.name %>_sound').play()"/>
					<audio id="<%= animal.name %>_sound">
						<source src="<%= animal.cry %>" type="audio/mpeg"/>
					</audio>
					<p><%= animal.name %></p>
				</li>
			<% end %>
			</ul>
	</div>
</body>
