<% content_for :javascript do %>
  <%= javascript_include_tag "animal" %>
  <%= javascript_include_tag "main" %>
  <%= javascript_include_tag "quiz" %>
<% end %>

<div id='new_animal_form_container'>

	<h3>Nuovo Animale</h3>

	<%= render 'form' %>
	
	<%= link_to "Annulla", animals_path, id: 'cancel_button', class: "btn btn-success" %>
</div>
