<div class="container" id="header-container">
  <div class="pull-left" id="img-header-container"">
    <%= link_to image_tag( 'img_header_cb.png', class: "img-responsive"), root_path %>
  </div>
  <div class="col-md-3 pull-right">
  	<div class="loginbar-text">
	  	<% if admin_user_signed_in? %>
				Loggato come <strong><%= current_admin_user.username %></strong>.
				<%= link_to "Nuovo amministratore", new_admin_user_registration_path, class: "loginbar-link" %> |	
				<%= link_to "Opzioni amministratore", admin_user_session_home_path, class: "loginbar-link" %> |
				<%= link_to "Modifica profilo", edit_admin_user_registration_path, class: "loginbar-link" %> |
				<%= link_to "Logout", destroy_admin_user_session_path, method: :delete, class: "loginbar-link" %>
			<% else %>	
				<%= link_to "Area riservata", new_admin_user_session_path, class: "loginbar-link" %>
			<% end %>
		</div>
  	<div id="flash_messages" class="pull-right">
	  	<% flash.each do |key, value| %>
				<%= content_tag :div, value, id: "flash_#{key}" %>
			<% end %> 
		</div>
  </div>
</div>
