<!DOCTYPE html>
<html>
<head>
  <title>IndovinaZOO</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="loginbar" style="float:right">
	<% if admin_user_signed_in? %>
		Loggato come <%= current_admin_user.email %>. |
		<%= link_to "Modifica profilo", edit_admin_user_registration_path %> |
		<%= link_to "Logout", destroy_admin_user_session_path, :method => :delete %>
	<% else %>
		<%= link_to "Nuovo Admin", new_admin_user_registration_path %> |
		<%= link_to "Login", new_admin_user_session_path %>
	<% end %>
</div>
<%= yield %>

</body>
</html>
